.ipynb_checkpoints/*
set_env.sh
*__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
learn_poly_sampling/models/.ipynb_checkpoints/*
learn_poly_sampling/models/__pycache__/*
learn_poly_sampling/layers/__pycache__/*
learn_poly_sampling/models/thirdparty/utils/*
*checkpoints*
*.ipynb
run.sh
set_envs.sh
APS/aps_models/.ipynb_checkpoints/*
learn_poly_sampling/models/*.ipynb
CocoDetection/imagenet_weights/*


countFlops.py
